<html>
<head>
<style>
body {
    font-family: "sans-serif";
    font-size: 24px;
}
</style>
</head>
<body>
<h1>Learning Ansible Automation</h1>
<h2>A message from your node:</h2>
<p><strong>inventory_hostname</strong>:{{ inventory_hostname }}</p>
<h3>Today's message:</h3>
<p>{{ webserver_message }}</p>
<p>ORIGINAL</p>
</body>
</html>